header {
  background-color: #282c34;
  max-height: 60px;
  padding: 7px;
  display: grid;
  grid-template-columns: 50px 280px auto minmax(auto, 120px);
  column-gap: 7px;
  grid-template-areas: "icon head . opt";
}
.header_headingDiv {
  grid-area: head;
}

.header_optDiv {
  grid-area: opt;
  padding: 3px;
  border-radius: 7px;
  background-color: #424855;
}

.header_headingDiv h1 {
  margin: 0;
  padding: 7px 15px;
  font-size: 30px;
  color: #61dafb;
}
