@import url("https://fonts.googleapis.com/css2?family=Open+Sans");

header {
  grid-area: header;
  background-color: #282c34;
  margin: 0;
  padding: 7px 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 10px 260px auto 135px;
  column-gap: 7px;
  grid-template-areas: "icon head . opt";
  box-shadow: 0 0 100px #ff4500;
}
.header_headingDiv {
  grid-area: head;
}

.header_optDiv {
  grid-area: opt;
  padding: 3px 6px;
  border-radius: 7px;
  background-color: #515969;
}

.header_headingDiv h1 {
  margin: 0;
  padding: 7px 7px;
  font-size: 32px;
  font-family: "Open Sans", sans-serif;
  color: #ff4500;
}
@media screen and (max-width: 500px) {
  .header_headingDiv h1 {
    padding: 4px;
  }
}
